#header{
  display: flex;
  height: 120px;
  align-items: center;
  background: linear-gradient(to bottom, black, transparent);
  padding: 0 30px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 2;
}
#header:hover{
  background: linear-gradient(to bottom, black, rgb(0, 0, 0,0.4));
}
#header .logo{
  width: 10%;
  margin-left: 20px;
}

#header .logo img{
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.book-header{
  width: 50%;
  margin-left: 10px;
}

.nav-item .fa-video{
  font-size: 30px;
}

#header .nav{
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.nav-list{
  display: flex;
  list-style: none;
  font-size: 21px;
  margin: 0 20px
}

.nav-list .nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}

.nav-item{
  position: relative;
  display: flex;
  align-items: center;
}

.nav-item .nav-item-link{
  color: white;
}

.nav-item-text-list{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55px;
  left: -20px;
  width: 180%;
  background-color: white;
  border: 1px solid black;
  padding: 0 20px;
  border-radius: 10px;
  z-index: 3;
}

.nav-item-text-list a{
  margin: 10px 0;
  text-decoration: none;
}

.header-search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 30%;
  margin-right: 20px;
  border: 1px solid white;
  padding: 0 10px;
  border-radius: 5px;
  color: white;
}

.header-search input{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0 10px;
  border: none;
  margin-right: 30px;
  background-color: transparent;
}

.header-search input:focus{
  outline: none;
  color: white;
}

.header-search input::placeholder{
  color: white;
  padding-left: 5px;
}
.user{
  font-size: 20px;
  position: relative;
  width: 5%;
  text-align: center;
  cursor: pointer;
}
.user:hover .user-text{
  display: flex;
}

.user-text{
  position: absolute;
  top: 35px;
  right: 0;
  width: 150%;
  height: 80px;
  background-color: white;
  border: 1px solid black;
  padding: 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}
.user-text::before{
  content: '';
  position: absolute;
  top: -20px;
  right: 0px;
  width: 100%;
  height: 20px;
}

.user-text::after{
  content: '';
  position: absolute;
  top: -20px;
  right: 35px;
  border: 10px solid;
  border-color:  transparent transparent black transparent;
}
.user-text a{
  margin: 5px 0;
  text-decoration: none;
  font-size: 16px;
}

.user-text a:hover{
  color: red;
}

