swiper-container {
  width: 80%;
  height: 450px;
  overflow: hidden;

}

swiper-slide {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.film-show{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.film-show .title{
  width: 55%;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.film-show .title a{
  color: white;
  text-decoration: underline;
  font-family: "Oswald", sans-serif;

}
